@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Muli&display=swap");
$base-color: #909a7f;
:root {
  --ff-head: "Merriweather", serif;
  --ff-body: "Muli", sans-serif;
  --fs-body: 1.2rem;
  --fs-h2: 2rem;
  --fs-h4: 2rem;
  --fs-h5: 2rem;
  --clr-head: hsla(208, 11%, 15%, 1);
  --clr-body: hsla(208, 9%, 31%, 0.8);
  --clr-accent: hsla(216, 97%, 61%, 1);

  box-sizing: border-box;
}

.inner__sub {
  --fs-h5: 2rem;
  font-size: var(--fs-h5);
  color: $base-color;
  margin-bottom: 1em;
}

.inner__head {
  --fs-h2: 2.4rem;
  font-size: var(--fs-h2);
  font-family: var(--ff-head);
  color: var(--clr-head);
  line-height: 1.4;
  margin-bottom: 1em;
}

.inner__content {
  margin-bottom: 3em;
}

.inner__clr {
  color: $base-color;
}

.inner__text {
  text-align: left;
  font-size: 1rem;
  color: lightslategray;
}

/*====== cards style ==========*/

.cards-grid {
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 4em 2rem;
}

.card {
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: solid 1px rgba(129, 147, 174, 0.12);
  background-color: #fff;
  padding: 1.5em;
  text-align: center;
  position: relative;
  max-height: 570px;
}

@media (max-width: 650px) {
  .card {
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border: solid 1px rgba(129, 147, 174, 0.12);
    background-color: #fff;
    padding: 1.5em;
    text-align: center;
    position: relative;
    max-height: 620px !important;
  }
}
.gridButtons {
  margin: 5%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 5%;
}

.card::before {
  content: "";
  position: absolute;
  background-color: #909a7f;
  top: -8px;
  left: -1px;
  width: calc(100% + 2px);
  height: 8px;
  border-radius: 6px 6px 0 0;
}

.card__body {
  padding-top: 1em;
}

.card__head {
  --fs-h4: 1.8rem;
  font-size: var(--fs-h4);
  margin-bottom: 1em;
  color: var(--clr-head);
}

.card__content {
  --fs-body: 1rem;
  font-size: var(--fs-body);
  color: lightslategray;
}

@media (min-width: 750px) {
  .cards-grid {
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 4em 2rem;
  }

  .inner {
    padding: 1em 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  .inner__sub {
    color: $base-color;
    --fs-h5: 2rem;
    font-size: var(--fs-h5);
  }
  .inner__headings {
    flex: 1 0 30%;
  }
  .inner__content {
    flex: 1 0 50%;
    align-self: center;
    margin-left: 2rem;
  }
  .inner__sub {
    color: $base-color;
    margin-bottom: 0;
  }
  .inner__head {
    --fs-h2: 2rem;
  }
}
.about {
  width: 100%;
  max-width: calc(100% - 20%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.fadeup {
  transform: translateY(100px);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.in-view {
  transform: none;
  opacity: 1;
}
